{% extends 'base.html' %}

{% block title%}About page{% endblock %}

{% block content %}
{% for item in content%}
<h1>Auswertung von Versuch {{ item.name }} </h1>
    <p>
        This is about page
        {{ item.name }}

        <table>
          <tr>
            <td>Tiefster Punkt im Scan</th>
            <td>{{ item.glob_min }}</th>
          </tr>
          <tr>
            <td>Tiefster Punkt in XZ Ebene</th>
            <td>{{ item.min_xz }}</th>
          </tr>
          <tr>
            <td>Tiefster Punkt in YZ Ebene</th>
            <td>{{ item.min_yz }}</th>
          </tr>
          <tr>
            <td>Tiefster Punkt gefittete Kugel</td>
            <td>{{ item.sph_min }}</td>
          </tr>
          <tr>
            <td>Durchmesser Krater (aus gefitteter Kugel)</td>
            <td>{{ item.radius }}</td>
          </tr>
        </table>

        <img class="center" src="{{ item.contour_image }}" width="650" alt=""/> 

      {% for img in item.cs_image %}
        <img class="center" src="{{ img }}" width="650" alt=""/> 
      {% endfor %}
    </p>
    <p class="page_break"></p>
{% endfor %}
{% endblock %}
