{% extends 'base.html' %}

{% block title%}About page{% endblock %}

{% block content %}
{% for item in content%}
<h4>Auswertung von Versuch {{ item.name }} </h1>
    <p>
        <table>
          <tr>
            <td>Tiefster Punkt im Scan</td>
            <td>{{ item.glob_min }}</td>
          </tr>
          <tr>
            <td>Tiefster Punkt in XZ Ebene</td>
            <td>{{ item.min_xz }}</td>
          </tr>
          <tr>
            <td>Tiefster Punkt in YZ Ebene</td>
            <td>{{ item.min_yz }}</td>
          </tr>
          <tr>
            <td>Tiefster Punkt gefittete Kugel</td>
            <td>{{ item.sph_min }}</td>
          </tr>
          <tr>
            <td>Durchmesser Krater (aus gefitteter Kugel)</td>
            <td>{{ item.radius }}</td>
          </tr>
        </table>

        <img class="center" src="{{ item.contour_image }}" width="650" alt=""/> 

      {% for img in item.cs_image %}
        <img class="center" src="{{ img }}" width="650" alt=""/> 
      {% endfor %}
    </p>
    <p class="page_break"></p>
{% endfor %}

<h4>Gesamtplots</h1>
    <p>
       <img class="center" src="{{ image_all }}" width="650" alt=""/> 
    </p>
    <p>
    <table>
        <tr>
            <th>Name</th>
            <th>Tiefster Punkt im Scan</th>
            <th>Tiefster Punkt in XZ Ebene</th>
            <th>Tiefster Punkt in YZ Ebene</th>
            <th>Tiefster Punkt der Fit-Kugel</th>
        </tr>
        {% for item in content %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.glob_min }}</td>
            <td>{{ item.min_xz }}</td>
            <td>{{ item.min_yz }}</td>
            <td>{{ item.sph_min }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <p>
    <table>
        <tr>
            <th>Name</th>
            <th>Höchster Punkt im Scan</th>
            <th>Höchster Punkt in XZ Ebene</th>
            <th>Höchster Punkt in YZ Ebene</th>
            <th>Höchster Punkt Krater</th>
        </tr>
        {% for item in content %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.glob_max }}</td>
            <td>{{ item.max_xz }}</td>
            <td>{{ item.max_yz }}</td>
            <td>{{ item.max_crater }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
    <p>
    <table>
        <tr>
            <th>Name</th>
            <th>Durchmesser Krater</th>
            <th>Volumen Krater</th>
        </tr>
        {% for item in content %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.radius }}</td>
            <td>{{ item.volume_crater }}</td>
        </tr>
        {% endfor %}
    </table>
    </p>
            

{% endblock %}
